[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "certifi>=2025.11.12",
    "flask>=3.1.2",
    "pymongo>=4.15.4",
    "watchdog>=6.0.0",
]
